<header>
    <div class="logo">
        Garrix
    </div>
    <div class="sign-up">
        <secondary-button (click)="signup" [secondaryButtonTitle]="signUp" ></secondary-button>
    </div>
</header>

<div class="content">
    <div class="left">
        <h1>
            Make <span class="red" >Appointments</span> Easily.
        </h1>
        <p>
            Irure sunt fugiat dolor aute laboris. Eiusmod nulla aliqua tempor velit mollit quis aliquip adipisicing laborum qui Lorem sit aute. Id anim laboris qui eiusmod ex esse aliquip sunt mollit tempor enim qui id dolor. Dolore cupidatat fugiat proident veniam esse amet pariatur anim voluptate 
        </p>
        <primary-button class="btn" (click)="login()" [primaryButtonTitle]="logIn" ></primary-button>
    </div>
    <div class="right">
        <img src="./../../../assets/svg//home.svg" alt="home">
    </div>
</div>