<header>
    <div class="logo">
        Garrix
    </div>
    <div class="sign-up">
        <secondary-button (click)="signup()" [secondaryButtonTitle]="signUp" ></secondary-button>
    </div>
</header>

<div class="content">
    <div class="left">
        <h1>
            Welcome to <span class="red" >Mr. Tim's</span> Office.
        </h1>
        <p>
            Here, you can see available times for Mr. Tim so that you can schedule appointments with him. You can just sign up or login if you have an account here already, then be able to see Mr. Tim's calendar.
        </p>
        <primary-button class="btn" (click)="login()" [primaryButtonTitle]="logIn" ></primary-button>
    </div>
    <div class="right">
        <img src="./../../../assets/svg//home.svg" alt="home">
    </div>
</div>