<header>
    <div class="logo">
        Garrix
    </div>

</header>

<div class="container">

    <div class="side-bar">
        <div class="application-list">
            <h2>My Applications</h2>
            <ul>
                <li>application
                    <button class="link-btn" (click)="showOrHideForm('id')" > edit </button>
                </li>
            </ul>
            <div class="add-btn">
                <secondary-button (click)="showOrHideForm()" [secondaryButtonTitle]="add" > </secondary-button>
            </div>
        </div>

        <div class="application-form" *ngIf="showForm" >
                <form [formGroup]="applicationForm" (ngSubmit)="submit(applicationForm.value)" >
                    <h3>Kindly complete the form</h3>
                    <div class="inputField">
                        <label for="name">
                            Name
                            <span *ngIf="name.invalid && name.touched" class="error">   **This Field cannot be empty.</span>
                        </label><br/>
                        <input type="text" formControlName="name" id="name" />
                    </div>
                    <div class="inputField">
                        <label for="location">
                            Location
                            <span *ngIf="location.invalid && location.touched" class="error">   **This Field cannot be empty.</span>
                        </label><br/>
                        <input type="text" formControlName="location" id="location" />
                    </div>
                    <div class="inputField">
                        <label for="title">
                            Title
                            <span *ngIf="title.invalid && title.touched" class="error">   **This Field cannot be empty.</span>
                        </label><br/>
                        <input type="text" formControlName="title" id="title" />
                    </div>
                    <div class="inputField">
                        <label for="description">
                            Description
                            <span *ngIf="description.invalid && description.touched" class="error">   **This Field cannot be empty.</span>
                        </label><br/>
                        <input type="text" formControlName="description" id="description" />
                    </div>
                    <div class="inputField">
                        <label for="date">
                            Date
                            <span *ngIf="date.invalid && date.touched" class="error">   **This Field cannot be empty.</span>
                        </label><br/>
                        <input type="text" formControlName="date" id="date" />
                    </div>
                    <primary-button [primaryButtonTitle]="submitBtn" ></primary-button>
                </form>
        </div>
        <div class="caut red">
            <p>Kindly view on a larger device to see the calendar</p>
        </div>
    </div>

    <div class="form-container">
        <table class='calendar-table' *ngIf="calendar">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of calendar | chunk: 7; let i = index">
                    <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
                        <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
                            <strong>{{c.date.getDate()}} </strong> 
                            <ul >
                                <li  *ngFor="let event of c.events">{{event.title}}</li>
                            </ul>
                            <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
