<header>
    <div class="logo">
        Garrix
    </div>
    <div class="sign-up">
        <secondary-button (click)="signup()" [secondaryButtonTitle]="signUp" ></secondary-button>
    </div>
</header>

<div class="content">
    <div class="left">
        <img src="./../../../../assets/svg/login.svg" alt="login">
    </div>
    <div class="right">
        <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm.value)" >
            <h1>Welcome back!</h1>
            <div class="inputField">
                <label for="email">
                    E-mail
                    <span *ngIf="email.invalid && email.touched" class="error">   **Your e-mail doesn't look right.</span>
                </label><br/>
                <input type="text" formControlName="email" id="email" />
            </div>
            <div class="inputField">
                <label for="password">
                    Password
                    <span *ngIf="password.invalid && password.touched" class="error">   **Your password is not enough.</span>
                </label><br/>
                <input type="password" formControlName="password" id="password" />
            </div>
            <primary-button [primaryButtonTitle]="logIn" ></primary-button>

            <p style="font-size: 1rem; margin-top: 7rem;" >Pariatur consequat voluptate sit mollit magna excepteur irure aute ut cupidatat elit.</p>
        </form>
    </div>
</div>