<header>
    <div class="logo">
        Garrix
    </div>
    <div class="sign-up">
        <secondary-button [secondaryButtonTitle]="logIn" ></secondary-button>
    </div>
</header>

<div class="content">
    <div class="left">
        <img src="./../../../../assets/svg/signup.svg" alt="login">
    </div>
    <div class="right">
        <form action="">
            <h1>Hello!</h1>
            <div class="inputField">
                <label for="email">Name</label><br/>
                <input type="text" id="name" />
            </div>
            <div class="inputField">
                <label for="email">E-mail</label><br/>
                <input type="text" id="email" />
            </div>
            <div class="inputField">
                <label for="phone">Phone</label><br/>
                <input type="text" id="phone" />
            </div>
            <div class="inputField">
                <label for="password">Password</label><br/>
                <input type="password" id="password" />
            </div>
            <primary-button [primaryButtonTitle]="signUp" ></primary-button>

            <p style="font-size: 1rem; margin-top: 5rem;" >Pariatur consequat voluptate sit mollit magna excepteur irure aute ut cupidatat elit.</p>
        </form>
    </div>
</div>