<header>
    <div class="logo">
        Garrix
    </div>
    <div class="sign-up">
        <secondary-button [secondaryButtonTitle]="logIn" ></secondary-button>
    </div>
</header>

<div class="content">
    <div class="left">
        <img src="./../../../../assets/svg/signup.svg" alt="login">
    </div>
    <div class="right">
        <form [formGroup]="signupForm" (ngSubmit)="submit(signupForm.value)" >
            <h1>Hello!</h1>
            <div class="inputField">
                <label for="name">
                    Name
                    <span *ngIf="name.invalid && name.touched" class="error">   **Your name should be at least, 4 characters.</span>
                </label><br/>
                <input type="text" formControlName="name" id="name" />
            </div>
            <div class="inputField">
                <label for="email">
                    E-mail
                    <span *ngIf="email.invalid && email.touched" class="error">   **Your e-mail doesn't look right.</span>
                </label><br/>
                <input type="text" formControlName="email" id="email" />
            </div>
            <div class="inputField">
                <label for="phone">
                    Phone
                    <span *ngIf="phone.invalid && phone.touched" class="error">   **Your phone number is not enough.</span>
                </label><br/>
                <input type="text" formControlName="phone" id="phone" />
            </div>
            <div class="inputField">
                <label for="password">
                    Password
                    <span *ngIf="password.invalid && password.touched" class="error">   **Your password is not enough.</span>
                </label><br/>
                <input type="password" formControlName="password" id="password" />
            </div>
            <primary-button [primaryButtonTitle]="signUp" ></primary-button>

            <p style="font-size: 1rem; margin-top: 5rem;" >Pariatur consequat voluptate sit mollit magna excepteur irure aute ut cupidatat elit.</p>
        </form>
    </div>
</div>