@use 'assets/styles/base';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

header{
    background: white;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}